# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js build output
.next/
out/

# Production & Builds
build/
dist/
.open-next/
.wrangler/

# Misc & OS
.DS_Store
*.pem
.vs/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env*.local

# TypeScript build info
*.tsbuildinfo

# Aider & Prisma
.aider*
.prisma/
